@import "../../../styles/variables.scss";

.about_me_more_section {
  background: $themecolorBlue;
  @media all and (min-width: $mobileM) {
    .col-12 {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}
.styled_info_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  padding-bottom: 4rem;
  p {
    width: 90%;
    color:  $turqoise_light; 
  }
}

.styled_reload_btn {
  cursor: pointer;
  background: $themecolorBlueDarker;
  border: none;
  padding: 0.5rem 0.6rem;
  border-radius: 50%;
  box-shadow: $themeBoxShadow;
  display: none;
  font-size: 1.5rem;
  @media all and (min-width: $mobileM) {
    display: inline;
  }
  @media all and (min-width: $laptopL) {
    font-size: 1.8rem;
  }
  @media all and (min-width: $desktop) {
    font-size: 2.4rem;
  }

  &:hover {
    filter: drop-shadow(0 0 3px white);
    transition: all 1s ease;
  }
  .svg-inline--fa {
    color: $textcolor_white
  }
}

.styled_card {
  background: #f9f9f9;
  padding: 1rem 1rem 5rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 25px;
  //clamp(minimum, preferred, maximum);
  height: clamp(20rem,25rem, 30rem);

  @media all and (min-width: $mobileS) {
    height: clamp(30rem,40rem, 45rem);  
    padding: 1rem 1rem 7rem 1rem;
  }
  @media all and (min-width: $mobileM) {
    padding: 0.5rem 0.5rem 3.5rem 0.5rem;
    height: auto;
   }
  @media all and (min-width: $laptop) {
    padding: 0.7rem 0.7rem 5rem 0.7rem;
  }
  @media all and (min-width: $laptopL) {
    padding: 1rem 1rem 7rem 1rem;
  }

  img {
    object-fit: cover;
    // object-position: 50% 70%;
    width: 100%;
    border-radius: 25px;

  }
}
