@import "../../../styles/variables.scss";

.about_me_section {
  background: $themecolorBlue;
  hr {
    visibility: hidden;
    padding: 1rem 0;
  }
  .styled_card.pict {
    margin-top: 2rem;
    @media all and (min-width: $laptop) {
      margin-top: 0;
    }
  }
  .me_pict {
    top: 0;
    right: 0;
  }
  .me_pict_caption {
    color: $textcolor_dark;
    font-size: 1rem;
    margin-top: 1rem;
    @media all and (min-width: $laptop) {
      font-size: 1.1rem;
    }
  }
}
