@import "../../../styles/variables.scss";

.about_me_section {
  background: $themecolorBlue;
  hr {
    visibility: hidden;
    padding: 1rem 0;
  }
  .styled_card.pict {
    margin-top: 2rem;
    @media all and (min-width: $mobileS) {
      height: clamp(30rem,35rem, 40rem);
      padding: 1rem 1rem 7rem 1rem;
    }
    @media all and (min-width: $mobileM) {
      padding: 1rem 1rem 7rem 1rem;

     }
    @media all and (min-width: $laptop) {
      margin-top: 0;
      height: clamp(25rem,30rem, 35rem);
      padding: 1rem 1rem 7rem 1rem;
    }
  }
  .me_pict {
    top: 0;
    right: 0;
  }
  .me_pict_caption {
    color: $textcolor_dark;
    font-size: 1rem;
    margin-top: 1rem;
    @media all and (min-width: $laptop) {
      font-size: 1.1rem;
    }
  }
}
