@import "../../../styles/variables.scss";

.about_me_section {
  background: $themecolorBlue;
  .content_section {
    .row {
      flex-direction: column-reverse;
      @media all and (min-width: $laptop) {
        flex-direction: row;
      }
    }
  }

  hr {
    visibility: hidden;
    padding: 1rem 0;
  }
  .styled_card.pict {
    margin-top: 2rem;
    @media all and (min-width: $mobileS) {
      height: clamp(30rem, 35rem, 40rem);
      padding: 1rem 1rem 7rem 1rem;
    }
    @media all and (min-width: $mobileM) {
      padding: 1rem 1rem 7rem 1rem;
    }
    @media all and (min-width: $laptop) {
      margin-top: 0;
      height: clamp(25rem, 30rem, 35rem);
      padding: 1rem 1rem 7rem 1rem;
    }
  }
  .me_pict {
    top: 0;
    right: 0;
  }
  .me_pict_caption {
    color: $textcolor_dark;
    font-size: 1rem;
    margin-top: 1rem;
    @media all and (min-width: $laptop) {
      font-size: 1.1rem;
    }
  }

  .home_links {
    padding-top: 2rem;
    font-size: 1.1rem;
    @media all and (min-width: $mobileM) {
       font-size: 1.3rem;
    }
  }
  .projects_link {
    display: inline-block;
    padding-bottom: 0.5rem;
    color: $linkcolor;
    transition: all 1s ease;
    &:hover {
      filter: drop-shadow(0 0 3px white);
    }
  }
}
