@import "../../../styles/variables.scss";

.footer_section {
  clear: both;
  border-top: 2px solid $themecolorBlue;
  padding: 1rem;
  min-height: 150px;
  @media all and (min-width: $mobileM) {
    margin-left: 6.2rem;
    padding: 3.5rem 3.5rem 1.5rem 3.5rem;
  }
  .nav_link_list_social {
    display: flex;
    margin-bottom: 2rem;
    @media all and (min-width: $mobileM) {
      display: none;
    }
  }
  .nav_social_link_item {
    font-size: 1.3rem;
    margin-right: 1.5rem;
    a.link {
      color: $textcolor_white;
      &.active,
      :visited {
        color: $textcolor_white;
      }
    }
    .link_text {
      display: none;
    }
  }
  p {
    margin-bottom: 0.5rem;
    font-size: $small_text;
  }
  .heading_3 span {
    display: block;
    margin-top: 0;
  }
}
.footer_bottom_wrapper {
  margin: 2rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.back_to_top_link {
  float: right;
  font-size: 2rem;
  @media all and (min-width: $desktop) {
    font-size: 2.5rem;
  }
  transition: all 0.3s ease-in;
  &:hover {
    transform: translateY(-4px);
    filter: drop-shadow(0 0 3px white);
  }
  &:active {
    transform: translateY(-4px);
    filter: none;
  }
  a {
    color: $textcolor_white;
  }
}
.footer_logo_section {
  margin-top: 2rem;
  div {
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a {
    transition: all 1s ease;
    &:hover {
      filter: drop-shadow(0 0 3px white);
      text-decoration: none;
    }
  }
  img {
    display: inline;
    &.next_logo {
      width: 1.8rem;
      height: auto;
    }
    &.contentful_logo {
      width: 1.4rem;
      height: auto;
    }
  }
}
p.footer_copy {
  margin-top: 2rem;
}
