@import "../../../styles/variables.scss";

.footer_section {
  clear: both;
border-top: 2px solid $themecolorBlue;
  padding: 1rem;
  min-height: 150px;
  @media all and (min-width: $mobileM) {
    margin-left: 6.2rem;
    padding: 3.5rem 3.5rem 1.5rem 3.5rem;
  }

  .nav_link_list_social{
    flex-direction: row;
    justify-content: flex-start;
    .nav_social_link_item{
      a.link {
        color: #fff;
        &.active,
        :visited {
          color: #fff;
        }
      }
      &:first-child{
        margin-left: -1rem;

      }
    }
    @media all and (min-width: $mobileM) {
   display: none;
    }
  }
  p {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }
  .heading_3 span{
    display: block;
    margin-top: 0;
  }
}

.footer_bottom_wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  @media all and (min-width: $mobileM) {
    // float: right;
  }
}
.back_to_top_link {
  float: right;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  transition: all 0.3s ease-in;
  &:hover {
    transform: translateY(-4px);
    filter: drop-shadow(0 0 3px white);
  }
  &:active {
    transform: translateY(-4px);
    filter: none;
  }
  a {
    color: #fff;
  }
}
.footer_logo_section {
  margin-top: 2rem;
  div {
    width: 5.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a {
    transition: all 1s ease;
    &:hover {
      filter: drop-shadow(0 0 3px white);
      text-decoration: none;
    }
  }
  img {
    display: inline;
    &.next_logo {
      width: 2.5rem;
      height: auto;
    }
    &.contentful_logo {
      width: 2rem;
      height: auto;

    }
  }
}

p.footer_copy {
  margin-top: 2rem;
}
