@import "../../../styles/variables.scss";

div.nav_links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $themecolorBlueDark;
  height: auto;
  padding: 2rem 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 80%;
  @media all and (min-width: $mobileM) {
    height: 100%;
    padding: 1rem 0 0 0;
    position: relative;
    top: 0;
  }
}

ul.nav_link_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 0;
  margin-bottom: 8rem;
  @media all and (min-width: $desktopL) {
    margin-bottom: 19rem;
  }
}

li.link_item {
  position: relative;
  text-align: center;
   width: 60px;
  a.link {
    height: 50px;
    width: 60px;
    display: inline-block;
    position: relative;
    transition: all 0.5s ease;
    padding: 1rem;
    border-bottom: 2px solid transparent;
    letter-spacing: 0.5px;
    color: $navcolor;
    text-decoration: none;
    cursor: pointer;
    &:visited {
      color: $navcolor;
    }
    &.active {
      color: $pink_lightest;
      filter: drop-shadow(0 0 3px white);
      .link_icon {
        opacity: 0;
        visibility: hidden;
      }
      .link_text {
        opacity: 1;
        visibility: visible;
      }
    }
    &:hover {
      .link_icon {
        opacity: 0;
        visibility: hidden;
      }
      .link_text {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .link_icon,
  .link_text {
     width: auto;
     height: auto;
    text-align: center;
    position: absolute;
    transition: 500ms ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  i {
    font-size: 1.2rem;
  }
  .link_icon {
    opacity: 1;
    visibility: visible;
    font-size: 1.2rem;
  }
  .link_text {
    font-size: 0.7rem;
    opacity: 0;
    visibility: hidden;
    margin: 0;
    @media all and (min-width: $mobileM) {
      font-size: 0.8rem;
    }
  }
}
.nav_home_link_item {
  @extend .link_item;
  position: static;
  height: 50px;
  color: transparent;
  margin-bottom: 1rem;
  @media all and (min-width: $mobileM) {
    position: relative;
  }
  a.link {
    color: $linkcolor;
    top: 0;
    &.active,
    :visited {
      .link_icon {
        opacity: 1 !important;
        visibility: visible !important;
      }
     }
    &:hover {
      .link_icon {
        color: $pink_lightest !important;
        opacity: 1 !important;
        visibility: visible !important;
      }
    }
    .link_icon {
      top: -8px;
    }
  }

  .link_icon {
    color: $linkcolor !important;
    font-weight: 700;
    font-size: 2.8rem !important;
    line-height: 1;
    width: 25px;
    top: 0.6rem;
    left: 0.8rem;
    @media all and (min-width: $mobileM) {
      width: 50px;
      top: 0;
      left: 0;
    }
  }
  p.link_text {
    top: 15px !important;
  }
}
