@import "../../../styles/variables.scss";


.navbar_bigscreen {
  .nav_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $themecolorBlueDark;
    height: auto;
    padding: 2rem 0;
    border-bottom-left-radius: 8px;
    height: 95%;
    @media all and (min-width: $mobileM) {
      height: 100%;
      padding: 1rem 0 0 0;
      position: relative;
      top: 0;
    }
  }
  .nav_link_list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1 0;
    margin-bottom: 10rem;
    @media all and (min-width: $desktopL) {
      margin-bottom: 13rem;
    }
  }
  .link_item {
    position: relative;
    text-align: center;
    width: 60px;
  }
  a.link {
    height: 50px;
    width: 60px;
    display: inline-block;
    position: relative;
    transition: all 0.5s ease;
    padding: 1rem;
    border-bottom: 2px solid transparent;
    letter-spacing: 0.5px;
    color: $navcolor;
    text-decoration: none;
    cursor: pointer;
    &:visited {
      color: $navcolor;
    }
    &.active {
      color: $pink_lightest;
      filter: drop-shadow(0 0 3px white);
      .link_icon {
        opacity: 0;
        visibility: hidden;
      }
      .link_text {
        opacity: 1;
        visibility: visible;
      }
    }
    &:hover {
      .link_icon {
        opacity: 0;
        visibility: hidden;
      }
      .link_text {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .link_icon,
  .link_text {
    width: auto;
    height: auto;
    text-align: center;
    position: absolute;
    transition: 500ms ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .link_icon {
    opacity: 1;
    visibility: visible;
    font-size: 1.2rem;
  }
  .link_text {
    font-size: 0.7rem;
    opacity: 0;
    visibility: hidden;
    margin: 0;
    @media all and (min-width: $mobileM) {
      font-size: $small_text;
    }
  }
}

//mobile
.navbar_mobile {
  background: $themecolorBlueDark;
  .nav_links {
    text-align: center;
  }
  .nav_link_list {
    margin-bottom: 2rem;
  }
  .link_item {
    padding-bottom: 1rem;
  }
  a.link {
    display: inline-block;
    &:visited {
      color: $navcolor;
    }
    &:hover {
      filter: drop-shadow(0 0 3px white);
    }
  }
  .link_icon {
    font-size: 1.1rem;
    @media all and (min-width: $mobileS) {
      font-size: 1.5rem;
    }
  }
  .link_text {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 1rem;
    @media all and (min-width: $mobileS) {
      font-size: 2rem;
    }
  }
  //social
  .nav_link_list_social {
    li{
      display: inline;
    }
    .link_icon {
      margin-left: 1.5rem;
      font-size: 1.2rem;
      @media all and (min-width: $mobileS) {
        font-size: 1.7rem;
      }
    }
    .link_text {
      display: none;
    }
  }
}
