@import "../../styles/variables.scss";

.project_section {
  background: $themecolorBlue;
  min-height: 500px;
  .col-12,
  .col-md-6,
  .col-lg-4 {
    margin-bottom: 2rem;
  }

  .small_heading {
    margin-bottom: 0;
  }
}
