@import "./variables.scss";

:root {
  height: 100%;
  background: $themecolorBlueDarker;
  &.dark {
    background: $themecolorBlueDark;
    .nav_header {
      border-right: 1px solid  $textcolor_lighter;;
    }
    .about_me_section,
    .about_me_more_section {
      border-top: 1px solid  $textcolor_lighter;;
      color-scheme: dark; 
      background: $themecolorBlueDark;
    }
    footer {
      border-top: 1px solid $textcolor_lighter;
    }
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:focus-visible{
  outline: 4px dotted lightgrey;
  outline-offset: 5px;
  border-radius: none;
}
html{
  font-size: 16px;
}
body {
  position: relative;
  // font-size: 0.9rem;
  color: $textcolor_white;
  transition: all 0.2s linear;
}
body.no_scroll {
  overflow: hidden;
}
@keyframes transitionIn {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
main {
  animation: transitionIn 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  // padding-bottom: 3rem;
}
section.home_wrapper,
.about_me_section,
.about_me_more_section,
.skills_section,
.project_section,
.resume_section {
  padding: 1.5rem 1rem;
  @media all and (min-width: $mobileM) {
    margin-left: 7rem;
    padding: 3.5rem 4rem 6rem 4rem;
  }
}
.dark {
  section.home_wrapper, .project_section {
    background:
    linear-gradient(-90deg, rgba(0, 48, 102, .3) 1px, transparent 1px),
    linear-gradient(rgba(0, 48, 102, .3) 1px, transparent 1px),
    $themecolorBlueDark;
    background-size:
  30px 30px,
  30px 30px,
  80px 80px,
  80px 80px,
  80px 80px,
  80px 80px,
  80px 80px,
  80px 80px;
  background-color:   $themecolorBlueDark;
  }
}
section.home_wrapper, .project_section {
  background:
  linear-gradient(-90deg, rgba(0, 12, 26, .08) 1px, transparent 1px),
  linear-gradient(rgba(0,12, 26,.08) 1px, transparent 1px),
  $themecolorBlueDarker;
background-size:
  30px 30px,
  30px 30px,
  80px 80px,
  80px 80px,
  80px 80px,
  80px 80px,
  80px 80px,
  80px 80px;
 background-color:   $themecolorBlueDarker;

  min-height: 70vh;
  @media all and (min-width: $mobileM) {
    min-height: 90vh;
  }
  .content_section{
    opacity: 1;
 
  }
}
.my-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 6px;
    padding-left: 6px;
  }
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site_content {
  min-height: 100vh;
}
p,
li {
  font-size: 1rem;
  line-height: 1.6;
  // @media all and (min-width: $xl-min) {
  //   font-size: 1.05rem;
  // }
}
h1,
h2,
h3,
h4,
h5 {
  position: relative;
  line-height: 1.2;
}
h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.1rem;
}
a {
  color: $linkcolor;
}
.emfasis {
  font-weight: 700;
  color: $turqoise_light;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.loading{
  padding: 1rem;
  color: $lilacPastel;
}
//font-styles text
.home_heading {
  display: block;
  margin-bottom: 1rem;
  font-size: 5.5rem;
  color: $themecolorPink;
  @media all and (min-width: $mobileS) {
    font-size: 9rem;
    text-align: center;
  }
  @media all and (min-width: $mobileM) {
    font-size: 10rem;
  }
  @media all and (min-width: $laptop) {
    font-size: 14rem;
  }
  @media all and (min-width: $laptopL) {
    font-size: 18rem;
  }
}
.home_small_heading {
  display: block;
  margin: 2rem 0;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: none;
  @media all and (min-width: $mobileS) {
    font-size: 1.5rem;
  }
  @media all and (min-width: $mobileM) {
    font-size: 1.8rem;
  }
  @media all and (min-width: $laptopL) {
    font-size: 2.4rem;
  }
}
.small_heading {
  text-transform: uppercase;
  margin: 4rem 0 2rem 0;
  font-size: 1.1rem;
  @media all and (min-width: $mobileM) {
    font-size: 1.3rem;
  }
  &.resume {
    color: $textcolor_dark;
    margin: 1rem 0 2rem 0;
  }
}
.large_text {
  p {
    font-size: 1.7rem;
    font-weight: 700;
    position: relative;
    z-index: 10;
    @media all and (min-width: $laptopL) {
      font-size: 2.4rem;
    }
  }
}
.heading_3 {
  margin-bottom: 0.1rem;
  color: $themecolorPink;
  font-size: 2.3rem;
  @media all and (min-width: $mobileS) {
    font-size: 3.8rem;
  }
  @media all and (min-width: $mobileM) {
    font-size: 4rem;
  }
  @media all and (min-width: $laptop) {
    font-size: 5rem;
  }
  @media all and (min-width: $laptopL) {
    font-size: 6rem;
  }

  &.upper {
    text-transform: uppercase;
  }
}
.small_text{
  font-size: $small_text;
}
//links
.right_link {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
  a {
    // color: $textcolor_white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    position: relative;
  }
}
section {
  p {
    font-size: 1rem;
    line-height: 1.4;
  }
  h2,
  h3,
  h4 {
    margin-bottom: 1.3rem;
  }
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  @media all and (min-width: 1700px) {
    max-width: 1400px;
  }
}

//HOME
.home_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//image wrapper
.cover_image_wrapper {
  position: relative;
  border-radius: $themeBorderRadius;
  border-radius: 30px;

  min-height: 900px;
  padding-bottom: 10rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 8rem;
  margin: 30px 0;

  @media all and (min-width: $mobileM) {
    padding: 3.5rem 3.5rem 1rem 3.5rem;
  }
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    content: "";
    display: block;
    border-radius: 30px;
  }
}
