


$mobileXS: 480px;
$mobileS: 576px;
$mobileM: 768px;
$laptop: 992px;
$laptopL: 1200px;
$desktop: 1400px;
$desktopL: 1600px;

//bg
$themecolorBlue: #0063cc; // #0052b6; // #044395;
$themecolorBlueDarker: #004db3;
$themecolorBlueDark: #010b19;

$background_darkgrey: #1a1a1a;
$background_light: #f9f9f9;
//text
$textcolor_white: #fff;
$textcolor_dark: #404040;
$text_gray: #737373;
//other 
$lightgray: #eee;
$turqoise_light: #b3ffff;
$turqoise_medium: #00e6e6;
$turqoise_dark: #00A3A3;
$lilacPastel: #daa6f2;
$bluecolor: #2e9ce6;
$themecolorPink: #FFB8F1; 
$orange: #f68c70; 
$pink_lightest: #fcd9cf; 

$linkcolor: $themecolorPink;
$navcolor: $themecolorPink;

$themeBorderRadius: 20px;
$themeBoxShadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
$themeBoxShadowLight: 0 2px 8px 0 rgba(0, 0, 0, 0.2);