// $themecolorLila: #9900cc;
// $themecolorBlue: #022c64;
// $themecolorBlueLight: #1d7dfc;
// $themecolorBlueSuperLight: #b4d4fd;
// $themecolorPink: #ff9999;
// $themecolorRed: #e60000;

// $themeBorderColor: #e0e0e0;
// $themecolor: #222;
// $themecolorGreen: #15b756;

$themeBorderRadius: 20px;
$themeBoxShadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
$themeBoxShadowLight: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
//   0 4px 20px 0 rgba(0; 0; 0; 0.19);

$mobileXS: 480px;
$mobileS: 576px;
$mobileM: 768px;
$laptop: 992px;
$laptopL: 1200px;
$desktop: 1400px;
$desktopL: 1600px;

//bg
// $themecolorBlue: #022c64;
$themecolorBlue: #0063cc; // #0052b6; // #044395;
$themecolorBlueDarker: #004db3;
$themecolorBlueLight: #3e8ee4;

$themecolorBlueDark: #010b19;
$themecolorPurplesuperlight: #fce9fb;
$themecolorPurpleDark: #170316;

$background_darkgrey: #1a1a1a;
$background_darkgrey_darker: #0d0d0d;
$background_light: #f9f9f9;
//text
$textcolor_white: #fff;
$textcolor_dark: #404040;
$text_gray: #737373;
//other
$lightgray: #eee;

$bluecolor: #2e9ce6;
// $lilacPastel: #daa6f2;
$themecolorPink: #ff9872; //#ffa299; //   #ff9999;
$themecolorPinkDark:#ff7c4d;

$orange: #f68c70;
$pink_light: #f79f87; //#f49097;
$pink_lightest: #fcd9cf; // #f8b9be;

$purple_light: #e0abed;

$pink_dark: #f55c7a;
$green_light: #5decbf;
// linkcolor: #ff66b3;
// $linkcolor: $pink_light;
$linkcolor: $themecolorPink;
$linkcolorDark: $themecolorPinkDark;
$navcolor: $themecolorPink;
