@import "../../../styles/variables.scss";

.single_project {
  transition: all 0.25s ease-out;
  color: $textcolor_dark;
  background: $background_light;
  height: auto;
  position: relative;
  margin-bottom: 4rem;
  border-radius: $themeBorderRadius;
  box-shadow: $themeBoxShadowLight;
  @media all and (min-width: mobileM) {
    height: 28rem;
  }
  @media all and (min-width: desktopL) {
    height: 31rem;
  }
  &:hover {
    div,
    .date,
    h3,
    p {
      color: $linkcolor;
      transition: 0.25s ease-in-out;
    }
    a {
      color: transparent;
    }
  }

  .single_project_link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    color: transparent;
    text-decoration: none;
    &:focus {
      outline: solid 2px $textcolor_dark;
      outline-offset: 5px;
      border-radius: $themeBorderRadius;
    }
  }
  .styled_image_container {
    border-top-left-radius: $themeBorderRadius;
    border-top-right-radius: $themeBorderRadius;
  }
  .styled_image {
    border-top-left-radius: $themeBorderRadius;
    border-top-right-radius: $themeBorderRadius;
    width: 100%;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
  }

  section.styled_content_container {
    padding: 1rem;
    min-height: 15rem;
  }
  section.styled_meta_text {
    div {
      display: flex;
      flex-wrap: wrap;
      font-size: 0.7rem;
      margin-right: 0.5rem;
      color: $text_gray;
      span {
        margin-right: 0.5rem;
        letter-spacing: 0.1px;
        font-weight: 500;
      }
      .technique {
        text-transform: lowercase;
        color: $linkcolor;
        display: inline;
        font-weight: 500;
        padding: 1px 3px 0 1px;
        margin-bottom: 0;
        margin-right: 5px;
        font-size: 0.8rem;
      }
    }
    .date {
      margin-top: 0.5rem;
      span {
        font-weight: 700;
      }
    }
  }
  .project_description {
    margin: 0.5rem 0;
    font-size: 0.8rem;
    line-height: 1.7;
  }
}
