@import "../../../styles/variables.scss";

.single_project {
  transition: all 0.25s ease-out;
  color: $textcolor_dark;
  background: $background_light;
  height: auto;
  position: relative;
  margin-bottom: 4rem;
  border-radius: $themeBorderRadius;
  box-shadow: $themeBoxShadowLight;
  &:hover {
    transform: translateY(-4px);
    div,
    .date,
    h3,
    p {
      color: $turqoise_dark;
      transition: 0.25s ease-in-out;
    }
    a {
      color: transparent;
    }
  }
  .single_project_link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    color: transparent;
    text-decoration: none;
    &:focus {
      outline: solid 2px $textcolor_dark;
      outline-offset: 5px;
      border-radius: $themeBorderRadius;
    }
  }
  .styled_image_container {
    border-top-left-radius: $themeBorderRadius;
    border-top-right-radius: $themeBorderRadius;
  }
  .styled_image {
    border-top-left-radius: $themeBorderRadius;
    border-top-right-radius: $themeBorderRadius;
    min-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
  }

  section.styled_content_container {
    padding: 1rem;
    min-height: 15rem;
    @media all and (min-width: $mobileS) {
      height: 16rem;
    }
    @media all and (min-width: $mobileM) {
      height: 18rem;
    }
    @media all and (min-width: $laptop) {
      height: 20rem;
    }
    @media all and (min-width: $laptopL) {
      height: 20rem;
    }
    @media all and (min-width: $desktop) {
      height: 18rem;
    }
    @media all and (min-width: $desktopL) {
      height: 16rem;
    }
  }
  section.styled_meta_text {
    div {
      display: flex;
      flex-wrap: wrap;
      font-size: 0.8rem;
      margin-right: 0.5rem;
      color: $text_gray;
      span {
        margin-right: 0.5rem;
        letter-spacing: 0.1px;
        font-weight: 500;
      }
      .technique {
        text-transform: lowercase;
        color: $turqoise_dark;
        display: inline;
        font-weight: 500;
        padding: 1px 3px 0 1px;
        margin-bottom: 0;
        margin-right: 5px;
        font-size: 0.9rem;
      }
    }
    .date {
      margin-top: 0.5rem;
      span {
        font-weight: 700;
      }
    }
  }
  .project_description {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    line-height: 1.7;
  }
}
