@import "../../styles/variables.scss";

.curriculum_bg_wrapper {
  margin-top: 1rem;
  position: relative;
  padding: 3rem 1rem;
  border-radius: $themeBorderRadius;
  transition: all 0.2s linear;
  background: rgb(249, 249, 249);
  @media all and (min-width: $mobileS) {
    padding: 3rem 2rem;
  }
  a{
    color: $turqoise_dark;
    &:hover{
      color: $turqoise_medium;
    }
  }
}
.curriculum_title {
  font-size: 1.3rem;
  color: $textcolor_dark;
  @media all and (min-width: $mobileM) {
    font-size: 1.6rem;
  }
}

.resume_link {
  color: $turqoise_light;
  transition: all 1s ease;
  display: block;
  padding-bottom: 1rem;
  &:hover {
    filter: drop-shadow(0 0 3px white);
  }
}
