@import "../../../styles/variables.scss";

.curriculum_item {
  position: relative;
  width: 100%;
  padding: 0.5rem 0;
  color: $textcolor_dark;
  a {
    cursor: pointer;
    &:hover {
      color: $linkcolor;
      transition: all 0.5s ease;
    }
  }
  .date {
    display: block;
    padding: 0.2rem 0 0.5rem 0;
    margin: 0;
    font-size: $small_text;
    color: $textcolor_lighter;
  }
  .description {
    font-size: 0.9rem;
    @media all and (min-width: $desktop) {
      font-size: 1rem;
    }
  }
}

.curriculum_item_heading {
  font-size: 1rem;
  letter-spacing: 0.8px;
  margin-bottom: 0rem;
}

.styled_site_item {
  font-weight: 500;
  font-size: $small_text;
  letter-spacing: 0.5px;
  a {
    position: relative;
    display: inline-block;
    margin-bottom: 0.3rem;
    color: $linkcolor;
    &:hover {
      color: $linkcolor;
      transition: all 0.5s ease;
    }
  }
}
