@import "../../../styles/variables.scss";

.theme_switch {
    position: absolute;
    z-index: 1000;
    top: 14px;
    right: 4rem;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: $themecolorBlueDark;
    cursor: pointer;
    color: lightyellow;
    border: none;
    padding: 0.5rem; 
    transition:  0.3s all ease-in;
    @media all and (min-width: $mobileM) {
      top: 1.4rem;
        right: 1.6rem;
    }
    &.dark {
      background: $themecolorBlueDarker;
    }
  &:hover{
    filter: drop-shadow(0 0 3px white);
  
  }
  &:focus{
    outline: 4px dotted white;
    outline-offset: 5px;
    border-radius: none;
  }
    svg {
      font-size: 1.5rem;
    }
  }