@import "../../../styles/variables.scss";

.theme_switch {
    position: absolute;
    top: 0.8rem;
    right: 4.5rem;
    width: 45px;
    height: 40px;
    border-radius: $themeBorderRadius/2;
    background: $themecolorBlueDark;
    cursor: pointer;
    color: lightyellow;
    border: none;
    padding: 7px 9px;
    transition:  0.3s all ease-in;
    outline: none;
    @media all and (min-width: $mobileM) {
      top: 1.4rem;
        right: 1.6rem;
    }
    &.dark {
      background: $themecolorBlueDarker;
    }
  &:hover{
    filter: drop-shadow(0 0 3px white);
  }
  &:focus{
    outline: 3px dotted white;
    outline-offset: 2px;
    filter: none;
  }
    svg {
      font-size: 1.5rem;
    }
  }